/* Title Section */
#title{
    text-align: center;
}
/* Navbar Section */
.navbar{
    margin-bottom: 1rem;
}
.big-heading{
    font-size: 2rem;
}
/* Fluid Container */
.container-fluid{
    padding: 5% 8%; 
}
.btn{
    margin: 3%;
}
.iphone{
    position: static;
    transform: rotate(0);
    width: 55%;
    margin-top: 3%;
}
/* Features Section */
#features{
    padding: 5% 8%;
}
/* Testimonial Section */
.carousel-item{
    padding: 5% 12%;
}
.testimonial-text{
    font-size: 1rem;
}
.testimonials-image{
    width: 30%;
}
/* Press Section */
.press-logo{
    width: 25%;
    margin: 1.125rem;
}
/* Pricing Section */
#pricing{
    padding: 5% 8%;
}
.pricing-text{
    font-size: 2rem;
}
.pricing-subtext{
    font-size: 1rem;
}
